.git
.settings
bin
config
config_backup
Flan
#lib
libsrc
mods
mods_backup
#src
.classpath
.project
buildversion.txt
build.hoppix
#CHANGELOG.md
changelog.txt
forge-installer.jar
forgeversion.txt
#MANIFEST.MF
Minecraft.exe
options.txt
#run.bat
run_.bat